<h1>web security fundamentals</h1>
</br
></br>
<p>Ramesh Mallarapu</p>

<p>86001</p>
</br></br></br>
<p>1.OSI Model</p>
</br>
<p>2.Routers</p>
</br>
<p>3.Switches</p>
</br>
<p>4.Firewalls</p>
</br>
<p>5.VPNs</p>
</br>
<p>6.Cryptography</p>
</br>
<p>7.Web securities</p>
</br>